@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" id="jumbotron-home">
    <h1>Vidly</h1>
    <p class="lead">Your favourite movies, on demand.</p>
    <p><a href="/Account/Register" class="btn btn-primary btn-lg">Sign up today!</a></p>
</div>


<div class="row">
    <div class="col-md-4">
        <h2>Pay As You Go</h2>
        <p>
            Only want to watch a couple of shows? We won't make you pay for thousands of movies and shows you'll never watch - check out our free PAYG plan.
        </p>
        <p><a class="btn btn-default" href="/Plans">Learn more</a></p>
    </div>
    <div class="col-md-4">
        <h2>All the latest and greatest</h2>
        <p>As well as your all-time favourites, we offer the latest movies before they even hit store shelves.</p>
        <p><a class="btn btn-default" href="/Movies">Browse library</a></p>
    </div>
    <div class="col-md-4">
        <h2>Discounts up to 30% off</h2>
        <p>Avid cinema & TV fan? Take a look at our premium subscriptions, and save up to 30% off subscription & purchase fees.</p>
        <p><a class="btn btn-default" href="/Plans">Learn more</a></p>
    </div>
</div>